.DS_Store
.cask/
.mc-lists.el
ac-comphist.dat
eshell/
projectile-bookmarks.eld
tramp
url/
/ido.last
geben
elpa/
*~
network-security.data
.tmp/
custom.el
emms/
.emacs.desktop*
amx-items
php-language-server/
.lsp-session-*
transient
