[submodule "zf-mode"]
	path = zf-mode
	url = git://github.com/echosa/zf-mode.git
[submodule "emacs-setup"]
	path = emacs-setup
	url = git://github.com/echosa/emacs-setup.git
[submodule "emacs-mysql2sqlite"]
	path = emacs-mysql2sqlite
	url = git://github.com/echosa/emacs-mysql2sqlite.git
